.editor-container {
    width: 100%;
    overflow: auto;
    margin: 0;
    overflow: hidden;
}

body {
    background: black;
    color: white;
    margin:0;
}

#measureText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    visibility: hidden;
    overflow:hidden;
    white-space: nowrap;
    margin:0;
    padding:0;
}

#measureArea {
    display:block;
    width:100%;
    height:100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    position: absolute;
    background:magenta;
    visibility: hidden;
    overflow:hidden;
    white-space: nowrap;
}

#fileModal {
    position: fixed;
    inset: 0px;
    width: 12rem;
    height: 5rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background:rgb(77, 77, 77);
    display:none;
}

#fileModal span {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#fileModal.showModal {
    display:block;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin:0;
}

td {
    /* border: solid 1px white; */
    text-align: center;
    font-family: monospace;
    padding:0;
}

td.selected {
    background: darkgray;
}

.fg_black {
    color: black;
}

.fg_white {
    color: white;
}

.fg_red {
    color: red;
}

.fg_green {
    color: green;
}

.fg_yellow {
    color: yellow;
}

.fg_blue {
    color: blue;
}

.fg_magenta {
    color: magenta;
}

.fg_cyan {
    color: cyan;
}

.fg_darkgrey {
    color: darkgrey;
}

.fg_grey {
    color: grey;
}

.fg_darkred {
    color: darkred;
}

.fg_darkgreen {
    color: darkgreen;
}

.fg_darkyellow {
    color: darkorange;
}

.fg_darkblue {
    color: darkblue;
}

.fg_darkmagenta {
    color: darkmagenta;
}

.fg_darkcyan {
    color: darkcyan;
}

.bg_black {
    background: black;
}

.bg_white {
    background: white;
}

.bg_red {
    background: red;
}

.bg_green {
    background: green;
}

.bg_yellow {
    background: yellow;
}

.bg_blue {
    background: blue;
}

.bg_magenta {
    background: magenta;
}

.bg_cyan {
    background: cyan;
}

.bg_darkgrey {
    background: darkgrey;
}

.bg_grey {
    background: grey;
}

.bg_darkred {
    background: darkred;
}

.bg_darkgreen {
    background: darkgreen;
}

.bg_darkyellow {
    background: darkorange;
}

.bg_darkblue {
    background: darkblue;
}

.bg_darkmagenta {
    background: darkmagenta;
}

.bg_darkcyan {
    background: darkcyan;
}
